<div id="adminProjectForm">
<h3> Change project options here </h3>
<a class="btn btn-primary btn-lg col-md-2 col-sm-2" role="button" id="project-form" href="#adminProjectForm">Create</a>
</div>


<div class = "permission">
	<table class = "table table-hover">
	<thead> 
		<tr>
			<th>Name</th>
			<th></th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#adminProjectEdit"> Andriod</a></td>

		</tr>
	</tbody>
	</table>
</div>