  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Andriod</h1>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
        <div class = "buttons">
          <a class="btn btn-primary btn-lg col-md-2 col-sm-2" role="button" id="project-form" href="#">Edit</a>
          <a class="btn btn-primary btn-lg col-md-2 col-sm-2" role="button" id="project-form" href="#">Delete</a>
        </div>

  </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">Languages</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>English</td>
                  <td>Lorem</td>

                </tr>
                <tr>
                  <td><a class="btn btn-primary btn-lg col-md-2 col-sm-2" role="button" id="project-form" href="#adminProjectForm">Create</a></td>
                  <td>amet</td>

                </tr>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>