
<h1> Create Project </h1>

 <form role="form" id="project-form" action="">
    <label for="project_name">Project Name</label>
    <input type="text" class="form-control" id="param-projectname" placeholder="Enter name">

  <button type="submit" class="btn btn-default">Submit</button>
</form>