<h3> Change user permissions here </h3>

<form class="navbar-form navbar-left" role="search">
	<div class="form-group">
	  <!-- <span class="glyphicon glyphicon-search"></span> -->
	  <input type="text" class="form-control" placeholder="Search username">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
<div class = "permission">
	<table class = "table table-hover">
	<thead> 
		<tr>
			<th>Username</th>
			<th>Email Address</th>
			<th>Permission</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mark</td>
			<td>mark@grooveshark.com</td>
			<td>
				<label class="checkbox-inline">
				  <input type="checkbox" id="active" value="option1"> active
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" id="superuser" value="option2"> super user
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" id="admin" value="option3"> admin
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" id="ban" value="option3"> ban
				</label>
			</td>
			</tr>
			</tbody>
		</table>
	</div>