<nav id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
</nav>
<div id="body">
    <div class="container welcome-board">
        <div class="bg">
        </div>
        <div class="pull-left left-container">
            <h1>The World's Music Player In Every Language</h1>
            <p>Do you speak multiple languages? Help make Grooveshark even better. Help make a difference right away!</p>

            <!--
            <input type="text" id="language-input" class="col-md-4 col-sm-4 col-xs-5" style="margin: 0 auto;" data-provide="typeahead" placeholder="Select a language" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]' value=<%=lang%>>

            <a class="btn btn-primary btn-lg col-md-2 col-sm-2" role="button" id="translate-submit">Translate</a>

            -->
            <form>
                <p class="">Let's translate </p><input type="text" id="language-input" data-provide="typeahead" placeholder="Select a language" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]' value=<%=lang%>> 
                in 
                <input type="text" id="project-input" data-provide="typeahead" placeholder="Select a project" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]' value=<%=proj%>>
                <a class="btn btn-primary btn-lg" role="button" id="translate-submit">Go</a>
            </form>

        </div>
        <div class="pull-right right-container">
            <ul>
                <li> Music </li>
                <li> Música </li>
                <li> музика </li>
                <li> 音乐 </li>
                <li> संगीत </li>
                <li> موسيقى </li>
            </ul>
        </div>
    </div>
    <div class="translation-stats">
        <div class="content">
            123123 languages and 123 words
        </div>
    </div>
</div>

<div id="footer" class="container">
    <footer>
        <div class="external-links pull-left">
            <a href="http://grooveshark.com/#!/about/advertising" class="footer-link">Advertise</a>
            <span class="slash">/</span>
            <a href="http://store.grooveshark.com" class="footer-link" target="_blank">Merch </a>
            <span class="slash">/</span>
            <a href="http://grooveshark.com/#!/press" class="footer-link"> Press</a>
            <span class="slash">/</span>
            <a href="http://grooveshark.com/#!/careers" class="footer-link">Careers</a>
            <span class="slash">/</span>
            <a href="http://grooveshark.com/#!/legal/privacy" class="footer-link">Privacy</a>
            <span class="slash">/</span>
            <a href="http://grooveshark.com/#!/legal/dmca" class="footer-link">Copyrights</a> 
            <span class="slash">/</span>
            <a href="http://grooveshark.com/#!/legal/terms" class="footer-link">Terms</a>
            <span class="slash">/</span>
            <a href="http://help.grooveshark.com" class="footer-link" target="_blank" class="last-child">Help</a>
        </div>

        <div class="social-links pull-right">
            <a href="http://www.supermaneddy.com" class="social-link" target="_blank">
                <i class="icon icon-star"></i>
                <span class="social-label" data-translate-text="IN_MEMORY">In memory</span>
            </a>
            <a href="http://www.facebook.com/grooveshark" class="social-link" target="_blank">
                <i class="icon icon-facebook"></i>
                <span class="social-label">Facebook</span>
            </a>
            <a class="last-child social-link" href="https://twitter.com/Grooveshark" target="_blank">
                <i class="icon icon-twitter"></i>
                <span class="social-label">Twitter</span>
            </a>
        </div>

        <div class="copyright pull-left">
            <span>&copy; 2014 Escape Media Group. </span><span> All Rights Reserved.</span>
        </div>
        <div class="love pull-right">
            <span>Made with love in FL &amp; NY.</span>
        </div>

    </footer>
</div>
<!--
<div class="body">
    <input type="button" id="login" value="Login"/>
    <input type="button" id="logout" value="Logout"/>
    <input type="button" id="createProject" value="create Project"/>
    <input type="button" id="getProjects" value="get Projects"/>
    <input type="button" id="createLanguage" value="create Language"/>
</div>
-->