<div class="container">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" id="logo">
            <i class="icon icon-logo"></i>
            <i class="icon-animated"></i>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="#">Dashboard</a></li>
            <% if(globalAdmin) { %>
               
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Admin <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#adminUser">User</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#adminProject">Project</a></li>
                </ul>
              </li>
            <% } %>
            <li><a href="#">Help</a></li>
            <% if(userID == '') { %>
            <li id="login" data-toggle="popover"><a href="#">Login</a></li>
            
            <div class="popover" id="login-box">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="form-heading">
                        Sign into Grooveshark
                    </div>
                    <div class="form-error-message">
                    </div>
                    <form role="form" id="login-form" action="">
                        <div class="form-group">
                            <label for="param-username">Username</label>
                            <input type="text" class="form-control" id="param-username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="param-password">Password</label>
                            <input type="password" class="form-control" id="param-password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>    
                </div>
            </div>
            <% } %>
            <% if (userID != '') {%>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                User<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id= "profile">Profile</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href= "#" id= "logout" >logout</a></li>
                </ul>
              </li>
              <% } %>



          </ul>
        </div>
    </div>
</div>