<div id="language-collection">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="project-select">Project</label>
        <label for="project-select">Project</label>
        <select class="form-control" id="project-select">
          <option value="1">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="language-select">Language</label>
        <label for="language-select">Language</label>
        <select class="form-control" id="language-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default" id="get-translations">Translate</button>
    </form>
</div>