<div class="header">
</div>
<div class="body">
    <input type="button" id="login" value="Login"/>
    <input type="button" id="logout" value="Logout"/>
    <input type="button" id="createProject" value="create Project"/>
    <input type="button" id="getProjects" value="get Projects"/>
    <input type="button" id="createLanguage" value="create Language"/>
</div>
<div class="footer">
</div>